<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
</head>
<body>
  <div class="container">
    <div class="form-inline">
      <form method="post" action="/anime">
        <input type="text" name="content" id="content" placeholder="搜索番剧">
        <input type="submit" value="search">
      </form>
    </div>
    <br>
</div>
<div class="container">
<table class="table">
  <caption>番剧</caption>
  <thead>
    <tr>
      <th>番剧名</th>
      <th>集数</th>
      <th>导演</th>
    </tr>
  </thead>
  <tbody>
        {% for anime in animes %}
        <tr>
            <td><a href="http://127.0.0.1:5000/anime/{{anime.name}}">{{ anime.name}}</a></td>
            <td>{{ anime.episode }}</td>
            <td>{{ anime.director }}</td>
        </tr>
        {% endfor %}
</table>
</div>
</body>
</html>